{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form class="m-3" action="/change_password" method="post">
        <input  style="margin-bottom:10px;" class="form-control mx-auto w-auto" type="password" placeholder="Password" name="password">
        <input  style="margin-bottom:10px;" class="form-control mx-auto w-auto" type="password" placeholder="Confirm Password" name="confirm_password">
        <button style="margin-bottom:10px;"  class="btn btn-primary" type="symbit">Change Password</button>
    </form>
{% endblock %}
