{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total price</th>
                <th>Status</th>
                <th>Transaction Date</th>
            </tr>
        </thead>
        <tbody>
            {% for result in history_result %}
            <tr>
                <td>{{result.symbol}}</td>
                <td>{{ result.shares }}</td>
                <td>{{ result.price }}</td>
                <td>{{ result.total_price }}</td>
                <td>{{ result.status }}</td>
                <td>{{ result.time }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}
